body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #6c584c;
    color: #a98467;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    font-size: 30px;
    margin: 0;
}

.leaflibrary {
    font-weight: 700;
}

.color-change {
    color: #adc178;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0;
}

li a {
    text-decoration: none;
    font-size: 25px;
    color: #a98467;
}

.top-section {
    background-color: #6c584c;
    color: #f0ead2;
    font-size: 20px;
    padding: 25px 200px 100px 200px;
    display: flex;
    justify-content: space-between;
}

.top-description {
    flex: 0 1 500px;
}

.top-header {
    margin-bottom: 0;
}

.description {
    margin: 8px 0;
}

button {
    padding: 8px 20px;
    border-radius: 8px;
    background-color: #adc178;
    color: #f0ead2;
    font-weight: 1000;
}

button.top-signup-button {
    border: none;
}

p {
    font-size: 15px;
}